.searchResults{
	padding: 10px;
	width: 360px;
	position: absolute;
	z-index: 5000;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
	overflow: auto;
}

.searchResults h4{
	float: right;
	color: #000;
}

.searchResults ul li{
	float: right;
}

.g-recaptcha > div > div{
	margin: 0 auto;
}

.menu .navbar-nav>li>a{
	font-size: 16px;
	padding: 10px;
}
@media (max-width: 800px) {
        slider {
    padding-top: 80px !important;
}
}