.navbar ul a:hover{
    color: #fdc326;
    border-left: 2px solid #fdc326;
}

.testimonials .carousel-feature .carousel-caption{
    margin-left: -80%;
}

.testimonials .carousel-feature .carousel-caption .rating{
    margin-right: -45%;
}