@font-face{
    font-family: DINNextLT-Light;
    src:url('fonts/dinnextltarabic-light-e8ec16c59ccc51ae92742af03450a973.ttf');
}

@font-face{
    font-family: DINNextLT-Regular;
    src:url('fonts/DINNextLTArabic-Regular-3017ac1bac99497488e74681e21a021d.ttf');
}

@font-face{
    font-family: DINNextLT-Bold;
    src:url('fonts/DINNextLTArabic-Bold-f73ed4ba151d81817ba3c644bd520338.ttf');
}


@font-face{
    font-family: DINNextLT-Heavy;
    src:url('fonts/DINNextLTArabic-Heavy-dc83cc68ce940dd71c623c2ea1e48bd7.ttf');
}

body{
    font-family: DINNextLT-Regular;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

.desc-p{
    line-height: 3;
    font-size: 12px;
}

.container-fluid{
    padding: 0;
}

header{
    margin-bottom: 30px;
    position: fixed !important;
    background-color: rgba(62, 152, 64, 0.9);
    z-index: 999;
    top:0;
    padding: 20px;
}

.navbar ul {
    display: inline-block;

}

.navbar ul a{
    color: #fff;
    font-size: 18px;
}

.navbar ul a:hover{
    color: #fdc326;
}

.navbar ul li{
    display: inline-block;
    padding: 10px;
}

.navbar .vip-service{
    background-color: #fdc326;
    padding: 5px 30px;
    border-radius: 15px;
    font-weight: bold;
    margin-right: 8%;
}

.navbar .vip-service:hover{
    text-decoration: none;
    color: #fff;
}

.navbar .vip-service span{
    margin: 0 5px;
}

.main-section{
    padding: 20px;
    background-image: url(images/main_bg.jpg);
    margin-top: 110px;
}

.main-section .description h1{
    color: #fff;
    font-size: 25px;
    margin-top: 250px;
}

.main-section .description p{
    color: #fff;
    margin-top: 30px;
}

.download-icons{
    margin-top: 20px;
}

.download-icons .store{
    background-color: #fff;
    padding: 10px 40px 5px 20px;
    margin: 10px;
    min-width: 200px;
    display: inline-block;
    border-radius: 5px;
}

.download-icons .image{
    float: left;
    margin-right: 10px;
    display: inline-block;
}

.download-icons .description{
    /*float: left;*/
    margin-right: 10px;
    display: inline-block;
}


.download-icons span{
    color: #72797c;
    margin-top: 0;
}

.download-icons .store-name{
    color: #4d565b;
    text-transform: uppercase;
}

.download-icons a img{
    width: 35px;
    display: inline-block;
}

.download-icons a p{
    display: inline-block;
}

/*
    About Section
*/

.about{
    /*border: 1px solid blue;*/
    /*height: 200px;*/
    padding-top: 100px;
    padding-bottom: 50px;
}

.about .company{
    padding: 50px 0;
}

.about .company .about-image{
    background-image: url(images/about.png);
    background-position: cover;
    height: 350px;
}

.about .company .about-image img{
    margin: 125px auto;
}

.about .app .about-description h1{
    padding-top: 30px;
}

.about .company .about-description p,
.about .app .about-description p{
    margin-top: 20px;
    width: 90%;
}

/*
    Features section
*/

.features{
    background-color: #fafafa;
    height: 500px;
    padding: 50px 10px;
}

.features .features-image img{
    width: 335px;
    margin: 0 auto;
}

.features .features-description h1{
    margin-bottom: 40px;
}

.features .features-description p{
    width: 80%;
}

/*
    Build section
*/

.build{
    padding: 100px 100px;
}

.build h1{
    margin: 150px 0 50px 0;
}

/*
    confused section
*/

.confused{
    background-color: #04803f;
    padding: 50px 20px;
}

.confused h1,
.confused p{
    color: #fff;
}

.confused h1{
    margin: 70px 0 30px 0;
    font-size: 22px;
}

/*
    Best section
*/

.best{
    padding: 100px 10px;
}

.best h1{
    margin: 100px 0 30px 0;
}


/*
    Guide section
*/
.guide{
    margin-top: 50px;
    padding: 50px;
}

.guide .guide-image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #f3f3f3;
    /*float: none;*/
    /*display: inline-block;*/
}

.guide .guide-image img{
    display: inline-block;
    margin: 15px 8px;
    width: 80%;
    text-align: center;
}

.guide .guide-details{
    /*float: none;*/
    /*display: inline;*/
}

.guide .guide-details h2{
    display: inline;
    font-size: 18px;
    font-weight: bold;
}

.guide .guide-details h3{
}

.vip-service{
    margin-top: 100px;
}

.vip-service .vip-service-title,
.orgnizations .orgnizations-title{
    padding: 18px 120px;
    background-color: #FDB425;
    display: inline-block;
    border-radius: 20px;
    margin-top: 0;
    font-size: 22px;
    color: #000;
    -webkit-box-shadow: -2px 3px 13px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 13px -4px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 13px -4px rgba(0,0,0,0.75);
}

.vip-service .vip-service-title i{
    color: #fff;
    margin: 0 10px;
}

.vip-service .services  li{
    display: inline-block;
    width: 41%;
    margin: 10px 0;
    color: #000;
    font-size: 12px;
}

.vip-service .services  li:before{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #04803f;
    display: inline-block;
}


.vip-service .vip-image,
.orgnizations .orgnizations-image{
    background-color: #fdb925;
    padding: 50px;
}

.vip-service .vip-image img,
.orgnizations .orgnizations-image img{
    margin: 0 auto;
}

.orgnizations div{
    margin-top: 50px;
    margin-bottom: 100px;
}

.orgnizations .orgnizations-description{
    padding: 0 80px 0 40px;
}

.orgnizations .orgnizations-image{
    height: 400px;
}

/*
    app images
*/

/*
    app images
*/

#carousel{
    width: 100%;
    background: none;
}

.app-images h1{
    font-size: 26px;
    padding: 20px 0;
}

.tracker-individual-container, .tracker-summation-container{
    display: none !important;
}

/*
    testimonials
*/

.testimonials{
    margin: 50px 0;
    padding: 50px 0 300px 0;
}

.testimonials img{
    border-radius: 50%;
}

.testimonials .carousel-feature{
    border: none;
    overflow: visible !important;
}

.testimonials .carousel-feature .carousel-caption{
    bottom: -120px;
    background: none;
    text-shadow: none;
    width: 150%;
}

.testimonials .carousel-feature .carousel-caption p{
    color: #000 !important;
    width: 150%;
}

#testimonials_carousel{
    width: 100%;
    background: none;
}

.testimonials h1{
    font-size: 26px;
    padding: 20px 0;
}

.testimonials .carousel-feature .carousel-caption .rating .rate{
    color: #ffe240;
}

/*
    Download now section
*/

.download-now{
    background-image: url("images/download_app_bg.png");
    background-position: cover;
    /*background-color: #04803f;*/
    margin-bottom: 300px;
    margin-top: 100px;
    padding: 80px 20px;
}

.download-now h1{
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding: 50px 0;
}

.download-now .download-icons{
    text-align: center;
}

/*
    Footer
*/

footer{
    background-color: #04803f;
    height: 200px;
    margin-top: 100px;
    position: relative;
}

.contact-us{
    background-color: #fff;
    height: 500px;
    /*border: 1px solid #000;*/
    position: absolute;
    top: -300px;
    right: 70px;
    padding: 100px 20px;
    -webkit-box-shadow: -5px 6px 50px -6px rgba(130,130,130,1);
    -moz-box-shadow: -5px 6px 50px -6px rgba(130,130,130,1);
    box-shadow: -5px 6px 50px -6px rgba(130,130,130,1);
}

.contact-us h3{
    padding: 0 50px 30px;
}

.contact-us .contact-info{
    margin: 10px;
    color: #1e5482;
    font-size: 16px;
}

.contact-us .contact-info li{
    margin: 15px;
}


.contact-us .contact-item{
    margin: 0 20px;
}

.contact-us .social li{
    display: inline-block;
    margin: 10px;
}

.contact-us .social li a img{
    width: 20px;
}


